#loomSE {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;

    #loomSE_gui {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 300;
        width: $gui_width;
        height: $gui_height;
    }

    #loomSE_stage {

        #loomSE_overlay {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;

            #loomSE_events {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 100;
            }

            #loomSE_subtitles {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 100;
            }
        }

        #loomSE_mediaGroup {

        }
    }

    #loomSE_notify {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 200;

        div {
            opacity: 0;
        }

        p {
            display: block;
            height: $notify_sprite_size;
            font-size: 78px;
            line-height: 67px;
            letter-spacing: 6px;
            font-weight: 700;
            color: $colour_white;
            padding-left: $notify_sprite_size;
            margin-left: -$notify_sprite_size;
        }

        p.paused {
            background: url("/assets/images/app/notify_sprite_paused.png") no-repeat left transparent;
        }
    }

}

/* media */

#loomSE_video {
    display: block;
    margin: 0 auto;
}

#loomSE_poster {
    z-index: 10;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}