
// gui
// export page at 60.21 dpi 41h 44w
// 89.58  page at 65w 61h

$gui_sprite_height: 30px;
$gui_sprite_width: 32.5px;

$gui_timeGroup_height: 35px;

$gui_buttonGroup_padding: 5px;
$gui_buttonGroup_height: $gui_sprite_height + ($gui_buttonGroup_padding * 2);

$gui_width: 100%;
$gui_height: ($gui_buttonGroup_height + $gui_timeGroup_height);