@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Italic';
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Light';
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  color: #fafde1;
  background-color: #170508; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ul, ol, p {
  margin: 0;
  padding: 0; }

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: inherit; }

.mainTitle {
  font-size: 50px;
  text-align: center;
  color: #fafde1;
  margin: 5px; }

#loomSE_subtitles div {
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center; }
  #loomSE_subtitles div p {
    display: inline;
    background: #fafde1;
    font-size: 18px;
    font-weight: bold;
    color: #170508;
    padding: 5px; }

/* show gui on hover */
#loomSE:hover #loomSE_gui {
  opacity: 1;
  transition: opacity 0.5s; }

/* gui controls */
#loomSE_gui_shadow {
  z-index: 200;
  height: 75px;
  width: 100%;
  background-color: #170508;
  opacity: 0.6; }

#loomSE_timeGroup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 35px;
  clear: both; }

#loomSE_timeGroup span {
  font-size: 1.2em;
  color: #fafde1;
  opacity: 0.6; }

#loomSE_timeGroup > div {
  clear: both; }

#loomSE_time_elapsed {
  display: inline-block;
  padding-left: 10px; }

#loomSE_time_duration {
  float: right;
  padding-right: 10px; }

#loomSE_time_timeSlider {
  display: block;
  height: 5px;
  margin-top: 5px;
  width: 0;
  background-color: #fafde1; }

#loomSE_btnGroup {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 40px;
  width: 100%;
  padding: 5px; }

#loomSE_btnGroupLeft {
  float: left; }

#loomSE_btnGroupRight {
  float: right; }

.btn_sprite {
  background-image: url("/assets/images/app/sprites.png");
  opacity: 0.6;
  width: 32.5px;
  height: 30px;
  background-position-y: top;
  display: inline-block; }

.btn_sprite:hover {
  cursor: pointer;
  opacity: 1; }

#loomSE_btnGroup .btn_play {
  background-position: left top; }

#loomSE_btnGroup .btn_pause {
  background-position: -32.5px top; }

#loomSE_btnGroup .btn_vol_off {
  background-position: -162.5px top; }

#loomSE_btnGroup .btn_vol_med {
  background-position: -195px top; }

#loomSE_btnGroup .btn_vol_high {
  background-position: -227.5px top; }

#loomSE_btnGroup .btn_sub_off {
  background-position: -357.5px top; }

#loomSE_btnGroup .btn_sub_on {
  background-position: -325px top; }

#loomSE_btn_playPause {
  background-position: left; }

#loomSE_btn_rewind {
  background-position: -65px top; }

#loomSE_btn_fforward {
  background-position: -97.5px top; }

#loomSE_btn_skip {
  background-position: -130px top; }

#loomSE_btn_volume {
  background-position: -227.5px top; }

#loomSE_btn_share {
  background-position: -292.5px top; }

#loomSE_btn_subtitles {
  background-position: -325px top; }

#loomSE_btn_fullscreen {
  background-position: -390px top; }

#loomSE {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000; }
  #loomSE #loomSE_gui {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 75px; }
  #loomSE #loomSE_stage #loomSE_overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; }
    #loomSE #loomSE_stage #loomSE_overlay #loomSE_events {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100; }
    #loomSE #loomSE_stage #loomSE_overlay #loomSE_subtitles {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100; }
  #loomSE #loomSE_notify {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200; }
    #loomSE #loomSE_notify div {
      opacity: 0; }
    #loomSE #loomSE_notify p {
      display: block;
      height: 61px;
      font-size: 78px;
      line-height: 67px;
      letter-spacing: 6px;
      font-weight: 700;
      color: #fafde1;
      padding-left: 61px;
      margin-left: -61px; }
    #loomSE #loomSE_notify p.paused {
      background: url("../../assets/images/app/notify_sprite_paused.png") no-repeat left transparent; }

/* media */
#loomSE_video {
  display: block;
  margin: 0 auto; }

#loomSE_poster {
  z-index: 10;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* Module specific css */
div.mediaTime span {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: darkred; }

/*# sourceMappingURL=master.css.map */
