* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul, ol, p {
  margin: 0;
  padding: 0;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
}

input, textarea {
  border: none;
  background: transparent;
}